

<header class="page-header">
  <h1>User: {{ user.email }}</h1>
</header>

<h2>Secrets</h2>
{{{debug user.secrets }}}

<h2>Requests</h2>
{{{debug user.requests }}}

<h2>Permissions</h2>
{{{debug user.permissions }}}
